body {
    font-family: Roboto Slab, serif;
    background: #353940;
    color: #dfe0d4;
}

h1 {
    font-family: Open Sans, sans-serif;
    color: #3e92a3;
}

h2 {
    font-family: Roboto Slab, serif;
    color: #dfe0d4;
}

a {
    color: #3e92a3;
}

/* Containers */
.main-heading {
    font-size: 3.5rem;
    line-height: 1.5
}

.stylistic-padded-positioning {
    padding: 5% 7%;
}

description-section {
    text-align: left;
}

.description-text {
    font-size: 1.5em;
    line-height: 1.3em;
}

.icon {
    margin-right: 20px;
    margin-bottom: 10px;
    color: #dfe0d4;
}

.title-image {
    margin: 5%;
}

.icon:hover {
    color: #3e92a3;
}

@media (max-width: 525px) {
    .main-heading {
        font-size: 2.25rem;
    }

    .title-image {
        width: 85%;
    }

    .description-text {
        font-size: 1.25em;
    }
}