body {
    font-family: Roboto Slab, serif;
    background: #353940;
    color: #dfe0d4;
}

h1 {
    font-size: 4.5em;
    line-height: 90px;
    margin-bottom: 12px;
}

body h1 {
    font-family: Open Sans, sans-serif;
    color: #3e92a3;
}

body h2 {
    font-family: Roboto Slab, serif;
    color: #dfe0d4;
}

body a {
    color: #3e92a3;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
}

.avatar-image-container {
    text-align: right;
}

.description-section {
    text-align: left;
}

.description-text {
    font-size: 1.58em;
    line-height: 1.3em;
}

.title-image {
    max-width: 100%;
}